.parent {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-auto-rows: 65px auto;
    grid-template-areas: "header header"
                        "sideBar details";
}

.header {
    grid-area: header;
    padding: 1em;
    color: black;
    clear: left;
    border: 3px solid black;
    border-bottom: none;
}

.search {
    border-radius: 25px;
    border: 3px solid black;
    outline: none;
    padding: 0 25px;
    height: 20px;
    font-size: 15px;
}

.clearIcon {
    background: url('assets/clear.png');
    width: 12px;
    height: 12px;
    position: absolute;
    margin: 7px 3px 0 -17px;
}

.searchIcon {
    background-image: url('assets/search.png');
    width: 16px;
    height: 16px;
    position: absolute;
    margin: 5px 3px 0 5px;
}

.sideBar {
    grid-area: sideBar;
    border: 3px solid black;
    border-right: none;
}

.details {
    grid-area: details;
    border: 3px solid black;
    padding: 50px 200px 0 100px;
}
.contact {
    position: relative;
    border-bottom: 3px solid black;
    cursor: pointer;
    user-select: none;
    padding: 10% 0 10% 10px;
}

.contact:last-child {
    border-bottom: none;
}

.rt-arrow {
    position: absolute;
    right: 10px;
}

 ul li{
     list-style: none
 }
 .heart {
    position: relative;
    height: 24px;
    width: 30px;
    float: left;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 15px;
    top: 0;
    width: 15px;
    height: 24px;
    background: #CCCCCC;
    -moz-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
    
}
.selected:before,
.selected:after {
    background: black;
}
.description {
    grid-area: description;
    clear: left;
}

.likesDislikes {
    grid-area: likesDislikes;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "likesHeader dislikesHeader"
                        "likes dislikes";
    border: 1px solid black;
}

.likesHeader {
    grid-area: likesHeader;
    background: #CCCCCC;
}

.dislikesHeader {
    grid-area: dislikesHeader;
    background: #CCCCCC;
}

.likes {
    grid-area: likes;
}

.dislikes {
    grid-area: dislikes;
}

.item:nth-child(odd) {
    background: white;
}

.item:nth-child(even) {
    background: #ECECEC;
}

.profile {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 115px auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    grid-template-areas: "photo sendMessage ."
                        "photo heartWrapper heartWrapper"
                        "description description description"
                        "likesDislikes likesDislikes likesDislikes";
}

.heartWrapper {
    grid-area: heartWrapper;
}

.sendMessage {
    grid-area: sendMessage;
    justify-self: left;
    align-self: center;
    padding: 30px 50px;
    font-size: 18px;
    background: #CCCCCC;
}

.photo {
    grid-area: photo;
    border: 2px solid #CCCCCC;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}

.identity {
    width: 200px;
    position: absolute;
    right: 0;
    top:0;
}

.username {
    padding: 25px 10px;
    float: left;
    font-size: 18px;
}

.propic {
    top: 2px;
    position: relative;
    width: 59px;
    height: 59px;
    border: 2px solid #777777;
    background: white;
    float: left;
    background-image: url('https://www26.online-convert.com/dl/web1/download-file/b1d184df-83a1-40bd-a60d-d5d65d7a7f49/200x200.jpg');
    background-repeat: no-repeat;
    background-size: 59px 59px;
}